@mainContentWidth: 1100px;   // 版心的宽度

.iconBack {
    display: inline-block;
    background: url('../../assets/img/icon/icon.png'); // icon 合集
}

//  滚动条
.my-vertical-track {
    .my-vertical-track-vertical-track {
        width: 4px;
        // background-color: #333;
        .my-vertical-track-vertical-handler {
            width: 100%;
            background-color: #3065bf;
        }
    }
}