// 凭证信息列表
.main-content .bill-container {
    padding: 20px 40px 20px 20px;
    .search-content {
        padding-bottom: 20px;
    }
}


// 凭证制作
.main-content .certificate-form {
    padding: 40px 100px;
    .ant-form-item {
        width: 50%;
        margin-right: 0;
        margin-bottom: 24px;
        .ant-select {
            width: 165px;
        }
    }
}

// 文物详情
.relics-detail {
    font-family: "Microsoft YaHei";
    text-align: center;
    border-top:1px solid #e8e8e8;
    border-left:1px solid #e8e8e8;
    .relics-img {
        height: 70px;
        line-height: 70px;
        border-bottom: 1px solid #e8e8e8;
        border-right: 1px solid #e8e8e8;
       img {
           width: 56px;
           height: 56px;
       } 
    }
    .relics-photo{
        height: 158px;
        line-height: 158px;
        border-bottom: 1px solid #e8e8e8;
        border-right: 1px solid #e8e8e8;
        img{
            width: 120px;
            height: 120px;
            border-radius: 4px;
        }
    }
    .relics-pic{
        height: 158px;
        line-height: 158px;
        font-size: 14px;
        font-weight: 600;
        color:#101824;
        background: #fafafa;
        border-bottom: 1px solid #e8e8e8;
        border-right: 1px solid #e8e8e8;
    }
    .relics-box {
        height: 70px;
        line-height: 70px;
        font-size: 14px;
        font-weight: 600;
        color:#101824;
        background: #fafafa;
        border-bottom: 1px solid #e8e8e8;
        border-right: 1px solid #e8e8e8;
    }
    .relics-title{
        color:#1d51a9 !important;
    }
    .relics-content{
        height:70px;
        line-height: 70px;
        font-size: 14px;
        color:#101824;
        border-bottom: 1px solid #e8e8e8;
        border-right: 1px solid #e8e8e8;
    }
    
}

